html, body {
    height: 100%;
    margin: 0;
}
body {
    position: relative;
    padding-bottom: 50px;
}
caption {
    display: block;
    padding-bottom: 20px;
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-image: linear-gradient(to right, blue, green, blue);
}
header {
    background-image: linear-gradient(to right, blue, green, blue);
}
button {
    width: 150px;
}
label {
    text-shadow: 1px 1px 2px white;
}
#fx-table-label{
    font-size: x-large;
    margin-bottom: 15px;
    color: blue
}
#inputFilter{
    width: 500px;
    background-color: gray;
}

a {
    text-decoration: none;
    color: black;
}
h3 {
    text-shadow: 4px 4px 8px white, -4px -4px 8px white;
    animation: blink 2s infinite;
    margin-left: 10%;
}
.table-row {
    align-items: center;
    vertical-align: baseline;
}
button, input, select {
    box-shadow: 3px 3px 8px black;
    margin-bottom: 10px;
}
button {
    margin-top: 20px;
    margin-left: 20px;
}
#errorMessage {
    animation: blink 1s infinite;
    text-shadow: 4px 4px 8px white;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#form_container {
    margin: 10px 20px;
    padding: 15px;
}
.table-container {
    position: relative;
    height: 70vh; 
    overflow-x: auto;
    word-wrap: break-word;
    overflow-y: scroll;
}
#table_fx_rates {
    width: 90%;
    word-wrap: break-word;
}
thead  td {
    font-weight: 700;
}
#table_fx_converter tbody td {
    white-space: nowrap;
}
#NBPRatesBtn {
    margin: 32px 0;
}
#sticky {
    position: sticky;
    top: 0;
    z-index: 4;
    opacity: 1;
    background-color: #198754;
}
.ivalid {
    color: red;
    font-weight: 700;
}
@media only screen and (max-width: 500px) {
    #table_fx_rates {
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
    }
    #table_container {
        padding: 5px!important;
    }
    #form_container {
        margin-top: 10px;
        padding: 5px!important;
    }
}